/* 測試用 */
/* div {
  border: 1px solid sandybrown;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebeee8;
  font-family: "MicroSoft Jhenghei", sans-serif;
}

.left {
  width: 30%;
  height: 100vh;
  padding: auto ;
  background-color: #91b46e;
}

.right {
  width: 70%;
  height: 100vh;
  padding: auto;
  background-color: tomato;
}
.left .avator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 90%;
  height: 30%;
  border-radius: 50%;
  background-color: thistle;
}

.left .name {
  text-align: center;
}

#datetime {
  color: red;
}

#menu {
  min-height: 500px;
}

#number10 {
  padding: 1em;
}

#number10 button {
  height: 3em;
  width: 30%;
  margin: 1%;
  font-size: 24px;
}
