* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
nav div ul {
  display: flex;
  font-size: 1.3rem;
  list-style: none;
  padding: 2rem;
}

nav div li {
  color: #ffffff;
  padding: 0.5rem;
}
nav a {
  color: #ffffff;
  text-decoration: none;
}

nav img {
  height: 90px;
  width: 300px;
  padding: 2rem;
}

nav h3 {
  color: #ffffff;
}
.container {
  max-width: 1300px;
  justify-content: center;
  padding: 0.5rem;
  
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
}
.container .intro {
  display: flex;
  min-width: 500px;
  justify-content: center;
  align-items: center;
}
.intro img {
  width: 35vw;
  height: 20vw;
  min-width: 350px;
  min-height: 200px;
  padding: 1rem;
  margin: 1rem -1rem;
}
.intro h2 {
  margin: 1.7rem ;
}
.h21 {
  color: rgb(9, 82, 208);
}
.h22 {
  padding: 0 2rem;
  color: rgb(7, 170, 7);
}
.h23 {
  padding: 0 4rem;
  color: rgb(172, 29, 239);
}
.container .cardarea {
  display: flex;
}
.container .card {
  /* margin: 1rem; */
  text-decoration: none;
  width: 25vw;
  height: 20vw;
  border: 1px solid rgb(246, 239, 238);
  background-color: rgb(120, 163, 237);
  /* border-radius: 0.7rem; */
  padding: 0.5%;
  color: #ffffff;
}

.container .card h3 {
  margin: 0.5rem 0;
}

.card .imgarea {
  display: flex;
  background-color: #ffffff;
  height: 55%;
  justify-content: center;
}
.card .imgarea img {
  height: 100%;
}

.container a {
  text-align: center;
}

footer {
  background-color: rgb(177, 106, 106);
  color: #ffffff;
}
footer .contactUs {
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: start;
  align-items: center;
}
footer img {
  height: 72px;
}
footer .copyright {
  background-color: black;
  width: 100%;
  display: flex;
  padding: 0.5rem ;
  justify-content: space-between;
}
footer p {
  padding: 0 1rem;
}

.introimg {
  display: flex;
  justify-content: center;
}
.introimg img{
  width: 70vw;
}

